@using Programmin2_classroom.Shared.Models.present.toShow
@using Programmin2_classroom.Shared.Models.present.toAdd
@using Programmin2_classroom.Shared.Models.present.toEdit

<div>
    <h1>@category.categroyTitle</h1>
</div>





@code {

    CategoryToShow category;

}
