<h3>@subCategoryTitle</h3>
<button> @totalSpendings/@budget</button>
<button>+</button>

@code {
    [Parameter]
    public string subCategoryTitle { get; set; }

    [Parameter]
    public double totalSpendings { get; set; }

    [Parameter]
    public double budget { get; set; }
}
